<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<script type="text/javascript">
            var coordperso1 = {{ perso1.x~perso1.y }};
            var coordperso2 = {{ perso2.x~perso2.y }};
            alert(coordperso1);
            </script>{% endblock %}
    </body>
</html>
